<?xml version="1.0"?>
<config>
    <modules>
        <PH2M_Scopehint>
            <version>1.0.0</version>
        </PH2M_Scopehint>
    </modules>
    <global>
        <blocks>
            <ph2m_scopehint>
                <class>PH2M_Scopehint_Block</class>
            </ph2m_scopehint>
            <scopehint>
                <rewrite>
                    <hint>PH2M_Scopehint_Block_ScopeHint_Hint</hint>
                </rewrite>
            </scopehint>
        </blocks>
        <helpers>
            <ph2m_scopehint>
                <class>PH2M_Scopehint_Helper</class>
            </ph2m_scopehint>
        </helpers>
        <models>
            <ph2m_scopehint>
                <class>PH2M_Scopehint_Model</class>
            </ph2m_scopehint>
        </models>
    </global>
    <adminhtml>
        <events>
            <adminhtml_renderer_fieldset_element>
                <observers>
                    <ph2m_scopehint_add_tooltip>
                        <type>model</type>
                        <class>PH2M_Scopehint_Model_Observer</class>
                        <method>addToolTip</method>
                    </ph2m_scopehint_add_tooltip>
                </observers>
            </adminhtml_renderer_fieldset_element>
        </events>
    </adminhtml>
    <default>
        <admin>
            <scopehint>
                <eav_standard_list>product</eav_standard_list>
                <eav_tree_list>category</eav_tree_list>
            </scopehint>
        </admin>
    </default>
</config>
